.Builder{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 12px 0;
}

.Builder button{
    display: block;
    font: inherit;
    padding: 5px;
    margin: 0 12px;
    width: 80px;
    background: #9c27b0;
    color: #ffffff;
    border: none;
    border-radius: 3px;
    outline: none;
    
}
.Builder div {
    color:  #8e24ee;
    margin: 0 12px;
}